
.initial {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;

} 

body {
    margin: 0%;
    background-color:black ;
    height: 100vh;
}
.header {
   
    background-color: red;
    height: 50px;

}
h1{
    color: aliceblue;
margin-top: 50px
margin-left: 70px;
left: 50%;
position: absolute;
}

.text {
    justify-content: space-between ;
    display: flex; 
    margin-top: 5%;

    left: 50%;
    margin-right: 30px;
    position: absolute;
    color: aliceblue;
   
}
.art {
    
    margin-top: auto;
    margin-left: 30px;
    height: 500px;
    width: 600px;
}



