
.initial {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;

} 

body {
    margin: 0%;
    background-color:black ;
    height: 100vh;
}
.header {
   
    background-color: red;
    height: 50px;
}
.text {
    responsive: auto;
    display: block;
   left: 50%;
    position: absolute;
    color: aliceblue;
   
}



